.login-container {
  background-color: $color-primary;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  color: $color-black;
  width: 40rem;
  height: auto;
  background-color: rgba($color-white, 0.8);
  border-radius: 3px;
  box-shadow: 10px 5px 5px rgba(#023b6d, 0.5);
}

.login-icon {
  height: 3.2rem;
  fill: $color-primary;
  transition: all 0.3s;
}

.login_form {
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &-input {
    border: none;
    height: 4rem;
    opacity: 0.8;
    border-radius: 3px;
    width: 100%;
    padding-left: 1rem;
    font-size: 1.5rem;
    transition: all 0.3s;
    color: rgba(#929292, 0.8);

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }
  }

  &-title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 300;
  }

  &-feild {
    padding: 1rem 0;
  }

  &-button {
    height: 4rem;
    border-radius: 3px;
    font-size: 2rem;
    border: none;
    background-color: $color-white;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      background-color: $color-primary;
      color: $color-white;
      outline: none;
    }

    &:hover .login-icon {
      fill: $color-white;
    }
    &:focus .login-icon {
      fill: $color-white;
    }
  }
}
